### Sistema Operacional ###
.DS_Store
Thumbs.db

### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

### Node ###
node_modules/

### Build do Frontend ###
/dist/

### STS (Spring Tool Suite) ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Arquivos de Log ###
*.log

### Arquivos Temporários ###
*.tmp
*.bak
*.swp

### Arquivos de Ambiente ###
.env
.env.local

### Outros ###
HELP.md  # Se for um arquivo que não deseja incluir no repositório

# Incluir todos os arquivos da pasta 'front', exceto 'node_modules'
/src/front/node_modules/
