// Variáveis de fonte
$font-family-sans-serif-2: 'Roboto', sans-serif;
$font-family-serif: 'Source Serif Pro', serif;
$font-family-sans-serif: 'Roboto', sans-serif;

html, body {
  font-family: $font-family-sans-serif-2;
  font-size: 16px;
}

body {
  color: var(--v-theme-textColor);
}

th {
  font-weight: bold !important;
  font-size: 16px;

  i {
    font-size: 0.9rem !important;
  }
}


.fit-cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
